<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.mobilebookapp" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Registration"
            android:label="@string/registerActionBarText"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="com.example.android.mobilebookapp.Registration" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HomeScreen"
            android:label="@string/homeActionBarText"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="com.example.android.mobilebookapp.HomeScreen" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BookShelf"
            android:label="@string/BooksListActionBarText"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="com.example.android.mobilebookapp.BookShelf" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SearchBook"
            android:label="@string/searchForBooks"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="com.example.android.mobilebookapp.SearchBook" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BookSearchResults"
            android:label="@string/searchBookResults"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="com.example.android.mobilebookapp.BookSearchResults" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
